<div class="container text-center">
    <hr>
    <img src="http://s2.quickmeme.com/img/21/21f09c3590670b09ae768414530f1533192e0b0b8e91f1c42fb95a5ed2f0f042.jpg" />
    <hr>
    <div class="alert alert-danger">
        <p><strong>Wow now!</strong> seems that we made an oopsie</p>
    </div>
</div>