<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		<b>Owner:</b>
		<%= @event.owner.email %>
	</p>
	<br>
	<h3>Availabilities</h3>
	<table class="table table-striped">
		<thead>
			<th style="width:20%;">User</th>
			<th style="width:80%;">Available</th>
		</thead>
		<tbody>
			<tr>
				<td><%= @event.owner.email %></td>
				<% @event.owner.availabilities.each do |a| %>
					<td> <%= a.duration %> </td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>
