// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox {
  display: block;
}

.availability-block{
  display:flex;
  padding:10px;
  flex-wrap:wrap;
  margin:10px;

  .buttons{
    display:flex;

    form{
      margin: 20px 5px 0px 5px;
    }
  }
}